body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}
header img {
    width: 150px;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 10px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px; 
    transition: color 0.3s, background-color 0.3s;
    padding: 10px;
}

nav ul li a:hover {
    color: #a51010; 
    background-color: #333;
    transform: scale(1.1); 
}
.pagina {
    padding: 20px;
}
.produtos-em-destaque img {
    max-width: 100%;
    height: auto;
    width: 350px;
}
.google-maps {
    margin: 20px 0;
}
.forma-de-pagamento ul {
    list-style-type: none;
    padding: 0;
}
.forma-de-pagamento ul li {
    display: inline;
    margin: 0 10px;
}
footer {
    background-color: #f1f1f1;
    padding: 10px 20px;
    text-align: center;
}